/*---styles, this is is where the magic happens (if css isn't acting up---*/

* {
  box-sizing: border-box;
  margin: 0px;
  
}

/*---Body---*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: rgb(12, 12, 12);
}

/*---Modal---*/

.button {
  background: #0f0f0f;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background: #494949;
}

.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top: -830px;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content{
  background: #181818;
  margin: 50% auto;
  padding: 20px;
  width: 70%;
  text-align: left;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.closeBtn{
  color: #ffffff;
  float: right;
}

.text{
  padding: 20px;
  width: 600px;
  color: white;
  position: absolute;
  box-sizing: border-box;
  transform: translate(100%);
}

.closeBtn{
  color: white;
  font-size: 25px;
}

.closeBtn:hover,.closeBtn:focus{
  color: rgb(170, 170, 170);
  text-decoration: none;
  cursor:pointer;

}

.einstein{

}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: var(--modal-color);
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

swing {
  animation: swing ease-in-out 2s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  display: flex;
}

.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 2px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
   
}
@keyframes swing {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}


/*---Cosmos background---*/

.header {
  padding: 0px;
  text-align: center;
  background-color: #333;
  color: white;
  margin: 0px;
  animation: slide 10s infinite;

}

@keyframes header {
  0%{
    background-image: url(image/universe.png);
  }
  33%{
    background-image: url(image/universe3.png);
  }
  67%{
    background-image: url(image/universe2.png);
  }
 }

/*---Cosmos text---*/

.header h1 {
  font-size: 40px;
  color: white;
}

/*---Contanier---*/

.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*---The left side---*/

.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #1c1c1c;
  padding: 20px;
  color: white;
}

/*---Main---*/

.main {   
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 20px;
  background: #242424;
}

.main h2 {
  color: white;
}

.main p {
  color: white;
}

/*---Bottom---*/

.bottom {
  padding: 21px;
  text-align: center;
  background: #0f0f0f;
}

.bottom p {
  color: white;
}