/*---styles, this is is where the magic happens (if css isn't acting up---*/

* {
  box-sizing: border-box;
  margin: 0px;
}

/*---Body---*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: rgb(12, 12, 12);
}

/*---Modal---*/

.button {
  background: #0f0f0f;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.button:hover {
  background: #494949;
}

.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top: -870px;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content{
  background: #181818;
  margin: 50% auto;
  padding: 20px;
  width: 70%;
  text-align: left;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.closeBtn{
  color: #ffffff;
  float: right;
}

.text{
  padding: 10px;
  width: 600px;
  color: white;
  transform: 100px, 200px;
  float: right;
  box-sizing: border-box;
  position: relative;
}

.closeBtn{
  color: white;
  font-size: 25px;
}

.closeBtn:hover,.closeBtn:focus{
  color: rgb(170, 170, 170);
  text-decoration: none;
  cursor:pointer;

}

.einstein{

}
/*---Cosmos text---*/

.header h1 {
  font-size: 40px;
  color: white;
}

/*---Contanier---*/

.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*---The left side---*/

.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #1c1c1c;
  padding: 20px;
  color: white;
}

/*---Main---*/

.main {   
  -ms-flex: 70%;
  flex: 70%;
  background-color: white;
  padding: 20px;
  background: #242424;
}

.main h2 {
  color: white;
}

.main p {
  color: white;
}

/*---Bottom---*/

.bottom {
  padding: 21px;
  text-align: center;
  background: #0f0f0f;
}

.bottom p {
  color: white;
}